 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0;
}

.calculate{
  position: absolute;
  background-color:rgb(7, 7, 201);
  border:none;
  font-size: 20px;
  font-family: sans-serif;
  color:white;
  width: 155px;
  text-align: center; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px;
}

#googleMap{
  width: 100wh;
  height: 500px;;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }

  .search input{

   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;


  }


  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;


  }
  

  .search .fa-location-dot{
   position: absolute;
   top: 20px;
   left: 16px;
      color: red;
  }


.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-1 .u-map-1 {
  height: 488px;
  width: 525px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-1 .u-map-1 {
    width: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-map-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-1 .u-map-1 {
    width: 320px;
  }
}
